$primary: red;
$primary-light: #810000;
$secondary: #a7d9ee;

$background-light: #fafafa;
$light-text: #333333;
$enable-responsive-font-sizes: true;

$perfect-shadow: 0px 0px 20px -15px rgba(0,0,0,0.50);

.noScroll {
  overflow: hidden;
}

i {
  font-size: 20px;
}